# ðŸ§ª 2nd Exercise Notebook
### Hands-On with Pandas: A Beginnerâ€™s Exercise Notebook for Data Analysis

Welcome to your Pandas practice notebook! Pandas is one of the most powerful Python libraries for data analysis and is a cornerstone of python-based data analysis. 
In this notebook, you'll work through a series of exercises that will help you understand the structure and capabilities of Pandas, and apply them to real datasets.

## 1. Getting Started with Pandas

Pandas provides high-performance, easy-to-use data structures: `Series` (1D) and `DataFrame` (2D). It is particularly useful for cleaning, transforming, and analyzing structured data.

We'll begin by loading a dataset and doing some initial exploration.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [6]:
# âœ… Task for students: Load the Titanic dataset from seaborn into a pandas dataframe named df and display the first few rows

# Step 1: Import necessary libraries
import seaborn as sns

# Step 2: Load the Titanic dataset into a DataFrame named df
df = sns.load_dataset('titanic')

# Step 3: Display the first few rows
# print(df.head())

df.sample(4)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
455,1,3,male,29.0,0,0,7.8958,C,Third,man,True,NaN,Cherbourg,yes,True
675,0,3,male,18.0,0,0,7.7750,S,Third,man,True,NaN,Southampton,no,True
100,0,3,female,28.0,0,0,7.8958,S,Third,woman,False,NaN,Southampton,no,True
772,0,2,female,57.0,0,0,10.5000,S,Second,woman,False,E,Southampton,no,True

### Exercise 1.1 
âœ… Tasks for students:
google how to do the following.
configure pandas visualization: You can configure display settings, so your DataFrames look cleaner and are easier to interpret.

In [ ]:
#  Display less columns and rows (10, 10)

pd.set_option('display.max_rows', 10)
pd.set_option('display.max_columns', 10)


# Align column headers nicely

# Center-align column headers
df.style.set_table_styles(
    [{'selector': 'th', 'props': [('text-align', 'center')]}]
)


# Set column width to 100 and precision to 2

# Set column width to 100
pd.set_option('display.max_colwidth', 100)

# Set precision to 2 for floating-point numbers
pd.set_option('display.precision', 2)




# Set float display precision to 2

pd.options.display.float_format = '{:.2f}'.format

# Example
df2 = pd.DataFrame({'A': [1.12345, 2.6789], 'B': [3.98765, 4.54321]})
# print(df)

 
# df2.head()

df.head()

### Exercise 1.2
âœ… Task for students: Inspect the dataset:
- Use `.info()` to understand the structure
- Use `.describe()` to get summary statistics
- Count the number of missing values per column

In [ ]:
# df.info()

#df.describe()


#df.isnull().sum()

## 2. Pandas Objects: Series and DataFrames

Everything in Pandas is built around `Series` and `DataFrame` objects. A `Series` is like a column in a spreadsheet, and a `DataFrame` is like the full table.

### Exercise 2.1
Create a `Series` and a `DataFrame` manually.

In [ ]:
# âœ… Task for students: Create a Series containing [10, 20, 30] as values and ['a', 'b', 'c'] as indices and print it

import pandas as pd

# Create a Series
s = pd.Series([10, 20, 30], index=['a', 'b', 'c'])

# Print the Series
print(s)

In [ ]:
# âœ… Task for students: Create a DataFrame containing a dictionary with  names, ages, and cities of three imaginary people and print it



# Create a dictionary of data
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 22],
    'City': ['New York', 'Berlin', 'Tokyo']
}

# Convert dictionary to DataFrame
df2 = pd.DataFrame(data)

# Print the DataFrame
print(df2)

### Exercise 2.2
âœ… Task for students: Explore the components:
- `values`
- `index`
- `columns`

In [ ]:
print("DataFrame Values:\n", df.values)
print("\nDataFrame Index:\n", df.index)
print("\nDataFrame Columns:\n", df.columns)

In [ ]:
# âœ… Task for students: Use .loc (label-based) to print first or second row



# Print the first row (label = 0)
print("First Row:\n", df2.iloc[0])

# Print the second row (label = 1)
print("\nSecond Row:\n", df2.loc[1])

In [ ]:
# the loc works with any values used in the index regardless of the type
df.index = [f"row_{i+1}" for i in range(len(df))]

df.loc["row_3"]

In [ ]:
# âœ… Task for students: Use .iloc (integer position-based) to print the first of the fifth row



# print(df.iloc[4, 0])

### Exercise 3.1

selection and selective printing

In [ ]:
# âœ… Task for students: Select the first 5 rows where passengers are female

print(df[df['sex'] == 'female'].head(5))

In [ ]:
# âœ… Task for students: Select all passengers under the age of 18

# Select passengers under 18
under_18 = df[df['age'] < 18]

# Display the result
print(under_18)

## 4. Operations in Pandas

Pandas allows you to perform element-wise and column-wise operations efficiently. These include arithmetic operations, aggregations, and applying custom functions.

In [ ]:
# âœ… Task for students: calculate mean age per gender and class

# Calculate mean age per gender and class
mean_age = df.groupby(['sex', 'pclass'])['age'].mean()

# Display the result
print(mean_age)

###  Exercise 4.1

In [ ]:
# âœ… Task for students: add a column for fare per age

# Add a new column 'fare_per_age'
df['fare_per_age'] = df['fare'] / df['age']

# Display the first few rows to check
print(df[['fare', 'age', 'fare_per_age']].head())

In [ ]:
# âœ… Task for students: Use `.mean()` and `.median()` to summarize it

# Calculate mean
mean_fare_per_age = df['fare_per_age'].mean()

# Calculate median
median_fare_per_age = df['fare_per_age'].median()

print("Mean fare per age:", mean_fare_per_age)
print("Median fare per age:", median_fare_per_age)

##  âœ… 5. Task for students: Mini Data Mining Project: Exploring Titanic Data

Now it's your turn to apply what you've learned to gain insights from the Titanic dataset.

###  Questions:
1. Whatâ€™s the average fare paid by survivors vs non-survivors? try plotting it in a pie chart.
2. Who had a higher survival rate: children (<16) or adults?
4. Whatâ€™s the most common port of embarkation?
5. Clean the data (e.g., fill or drop missing values in 'age' or 'embarked')
6. Use `groupby`, `value_counts`, and filtering to answer the questions
7. Try plotting with seaborn (e.g., `sns.histplot`, `sns.barplot`) and with `pandas.DataFrame.plot.pie`

In [ ]:
# print the average fare paid by survivors vs non-survivors using a pie chart


# Calculate average fare by survival
avg_fare = df.groupby('survived')['fare'].mean()

# Plot pie chart
plt.figure(figsize=(6,6))
plt.pie(avg_fare, labels=['Did Not Survive', 'Survived'], 
        autopct='%1.1f%%', colors=['lightcoral', 'lightgreen'], startangle=90)
plt.title('Average Fare Paid: Survivors vs Non-Survivors')
plt.show()

In [ ]:
# Create a new column for age group


# Calculate survival rate per group


# Step 1: Create age groups
bins = [0, 12, 18, 35, 60, 120]  # Define age bins
labels = ['Child', 'Teen', 'Adult', 'Middle-Aged', 'Senior']  # Labels for bins
df['age_group'] = pd.cut(df['age'], bins=bins, labels=labels)

# Step 2: Calculate survival rate per age group
survival_rate = df.groupby('age_group')['survived'].mean()

print(survival_rate)

In [ ]:
# find and print the most common port of embarkation

In [ ]:
# clean the data (e.g., fill or drop missing values in 'age' or 'embarked')

In [ ]:
# find and print survival rate for children (<16) and adults