## ðŸŽ“ Practice Exam Questions (Exercise-2 Style)

In [75]:
import pandas as pd

import numpy as np

df = pd.read_csv("customers-10000.csv")

df.head(3)

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
0,1,EB54EF1154C3A78,Heather,Callahan,Mosley-David,Lake Jeffborough,Norway,043-797-5229,915.112.1727,urangel@espinoza-francis.net,2020-08-26,http://www.escobar.org/
1,2,10dAcafEBbA5FcA,Kristina,Ferrell,"Horn, Shepard and Watson",Aaronville,Andorra,932-062-1802,(209)172-7124x3651,xreese@hall-donovan.com,2020-04-27,https://tyler-pugh.info/
2,3,67DAB15Ebe4BE4a,Briana,Andersen,Irwin-Oneal,East Jordan,Nepal,8352752061,(567)135-1918,haleybraun@blevins-sexton.com,2022-03-22,https://www.mack-bell.net/

#### Q2. Print the number of rows and columns in the DataFrame.

In [9]:
df.shape

(10000, 12)

#### Q3. Extract the columns "customerID" and "MonthlyCharges" into a new DataFrame called sub_df.

In [12]:
# Q3. Extract the columns "customerID" and "MonthlyCharges" into a new DataFrame called sub_df.

sub_df = df[["Customer Id", "City"]] # this dataset does not contain the MonthlyCharges, so instead added the City and looking for another dataset

sub_df.sample(3)

          Customer Id             City
4688  B2770ADC46Ac8f4  South Jakemouth
3010  63AfBfFC1Ea62b2      North Tommy
5378  9Bd0A0ccF14BE5c        Smallland

## Telco Customer Churn Prediction (Complete Guide)

In [141]:
df2 = pd.read_csv("WA_Fn-UseC_-Telco-Customer-Churn.csv")

df2.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [21]:
# Q3. Extract the columns "customerID" and "MonthlyCharges" into a new DataFrame called sub_df.

sub_df2 = df2[["customerID", "MonthlyCharges"]]

sub_df2.sample(3)

      customerID  MonthlyCharges
801   1450-GALXR           98.50
6796  8450-JOVAH           56.70
6677  1442-BQPVU           29.15

In [30]:
# Q4. Using .iloc, print the value in: â€¢	Row 10    â€¢	Column 2

#df2.iloc[10:2]


df2.iloc[1:2]

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No

In [31]:
# Q5. Using .loc, print:
# â€¢	Row with index label 25
# â€¢	Column "gender"

df2.loc[25, "gender"]

'Female'

In [55]:
# Q6. Select all rows where:
# â€¢	"Contract" equals "Month-to-month"
# â€¢	AND "tenure" is greater than 12.

Contract_tenure =df2[(df2["Contract"] ==  "Month-to-month") & (df2["tenure"] > 12 )]

# Contract_tenure.head()

Contract_tenure.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1881 entries, 6 to 7035
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        1881 non-null   object
 1   gender            1881 non-null   object
 2   SeniorCitizen     1881 non-null   int64
 3   Partner           1881 non-null   object
 4   Dependents        1881 non-null   object
 5   tenure            1881 non-null   int64
 6   PhoneService      1881 non-null   object
 7   MultipleLines     1881 non-null   object
 8   InternetService   1881 non-null   object
 9   OnlineSecurity    1881 non-null   object
 10  OnlineBackup      1881 non-null   object
 11  DeviceProtection  1881 non-null   object
 12  TechSupport       1881 non-null   object
 13  StreamingTV       1881 non-null   object
 14  StreamingMovies   1881 non-null   object
 15  Contract          1881 non-null   object
 16  PaperlessBilling  1881 non-null   object
 17  PaymentMethod     1881 non-null   object
 18  MonthlyCharges    1881 non-null   float64
 19  TotalCharges      1881 non-null   object
 20  Churn             1881 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 323.3+ KB

In [63]:
# Q7. Count how many customers are in each "InternetService" category.

Total_InternetService = df2["InternetService"].value_counts()

print(Total_InternetService)

#print(Total_InternetService)

InternetService
Fiber optic    3096
DSL            2421
No             1526
Name: count, dtype: int64

0      29.85
1     1889.5
2     108.15
3    1840.75
4     151.65
Name: TotalCharges, dtype: object

In [78]:
# Q8. Replace missing values in "TotalCharges" with the median of that column.

df2["TotalCharges"].isna

# median_total = df2["TotalCharges"].median()
# df2["TotalCharges"].fillna(midian_total, inplace = True)

# df["TotalCharges"] = pd.to_numeric(df2["TotalCharges"], errors="coerce").fillna(df2["TotalCharges"].median()).

df2["TotalCharges"] = df2["TotalCharges"].apply(lambda x: x[0] if isinstance(x, (list, np.ndarray)) else x)

df2["TotalCharges"].head()

0      29.85
1     1889.5
2     108.15
3    1840.75
4     151.65
Name: TotalCharges, dtype: object

In [89]:
# Q9. Sort the DataFrame by "tenure" in descending order.

sort_tenur_descending = df2.sort_values(by = "tenure", ascending = False)

#sort_tenur_descending

In [102]:
# Q10. Create a new column "charge_per_month" as:
# TotalCharges / tenure


#df2.info()


df2['TotalCharges'] = np.floor(pd.to_numeric(df2['TotalCharges'], errors='coerce')).astype('Int64')

charge_per_month = df2.TotalCharges/df2.tenure

#charge_per_month.head()

# print(charge_per_month)

charge_per_month

0            29.0
1       55.558824
2            54.0
3       40.888889
4            75.5
          ...
7038    82.916667
7039       102.25
7040    31.454545
7041         76.5
7042    103.69697
Length: 7043, dtype: Float64

In [103]:
# Q11. Select rows 5 to 12 and columns "gender", "SeniorCitizen", "Partner" using .loc.

df2[["gender", "SeniorCitizen", "Partner"]].loc[5:12]

    gender  SeniorCitizen Partner
5   Female              0      No
6     Male              0      No
7   Female              0      No
8   Female              0     Yes
9     Male              0      No
10    Male              0     Yes
11    Male              0      No
12    Male              0     Yes

In [124]:
# Q12. Drop the column "Churn" from the DataFrame.

# df2["Churn"].drop()

#df2.drop("Churn")

# no_dependent = df2.drop(columns = ["Dependents"], inplace = True) # Churn is not in dataset, then remove Dependents

In [117]:

print(df2.columns)

Index(['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents',
       'tenure', 'PhoneService', 'MultipleLines', 'InternetService',
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
       'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges'],
      dtype='object')

In [139]:
# Q13. Reset the index after dropping rows 0, 1, and 2.

# df = df.drop([0,1,2])

#df.reset_index(drop = True)

#df2 = df2.drop([0, 1, 2]).reset_index(drop=True)

df2 = df2.iloc[3:].reset_index(drop=True)

df2.head(3)

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
0,13,c388ECa44FFe37c,Dave,Moran,Harrell-Donovan,South Elizabeth,Sweden,575.006.7250x9748,262-029-1096,cartermallory@chung.com,2020-02-28,https://hinton.info/
1,14,f8dddbf9CD6FF92,Glen,Hammond,"Schaefer, Chung and Lin",Pamelatown,Netherlands,001-887-543-3745x055,001-955-888-1987x09071,lweeks@hooper.org,2022-03-03,https://bush-huynh.org/
2,15,86Df56BFCc0a7CA,Catherine,Blackwell,"Mack, Garcia and Schaefer",Lake Seth,Dominican Republic,001-915-961-8896x5744,(310)185-3032x0974,calhounalisha@hardin.net,2021-03-30,https://barker-bishop.info/

In [144]:
# Q14. Why does df["MonthlyCharges"] return a Series but df[["MonthlyCharges"]] return a DataFrame?
# (Short conceptual answer.)

df2["MonthlyCharges"]

# df2[["MonthlyCharges"]]

0        29.85
1        56.95
2        53.85
3        42.30
4        70.70
         ...
7038     84.80
7039    103.20
7040     29.60
7041     74.40
7042    105.65
Name: MonthlyCharges, Length: 7043, dtype: float64

In [149]:
# Q15. Write a Boolean mask to select customers with "MonthlyCharges" between 50 and 90.

MonthlyCharges_50_to_90 = df2[(df2["MonthlyCharges"] >= 50) & (df2["MonthlyCharges"] <= 50)]

MonthlyCharges_50_to_90.sample(4)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
3620,9373-WSLOY,Male,1,Yes,No,33,No,No phone service,DSL,No,...,Yes,Yes,Yes,No,Month-to-month,Yes,Electronic check,50.0,1750.85,No
2554,5843-TTHGI,Female,0,No,No,18,Yes,No,DSL,No,...,Yes,No,No,No,Month-to-month,Yes,Mailed check,50.0,892.7,No
1544,3794-NFNCH,Male,0,Yes,No,30,Yes,No,DSL,No,...,Yes,No,No,No,Month-to-month,Yes,Mailed check,50.0,1474.9,No
5337,6705-LNMDD,Male,0,No,No,20,Yes,No,DSL,No,...,No,Yes,No,No,Month-to-month,No,Mailed check,50.0,1003.05,No