## this Analysis based on The 2016 New Coder Survey
We announced on March 29th, 2016 that we'd like to better understand new coders using a survey.

Survey development was lead by Quincy Larson with Free Code Camp and Saron Yitbarek with Code Newbie. For more about why we made this survey: "How we crafted a survey for thousands of people who are learning to code".

In [5]:
import pandas as pd
import numpy as np

df = pd.read_csv("2016-New-Coder-Survey-Data-Summary.csv")

df.head(3)

,Number,Age,AgePpl,AgePerc,BootcampYesNo,BootcampYesNoPpl,BootcampYesNoPerc,BootcampFinish,BootcampFinishPpl,BootcampFinishPerc,...,ResourcesPerc,SchoolDegree,SchoolDegreePpl,SchoolDegreePerc,SchoolMajor,SchoolMajorPpl,SchoolMajorPerc,StudentDebtOwe,StudentDebtOwePpl,StudentDebtOwePerc
0,1,under 25,4581.0,0.336517,No,14427.0,0.938036,Yes,643.0,0.689175,...,0.700192,bachelor's degree,5644.0,0.412603,Computer Science,1387.0,0.164142,> 120k,130.0,0.036995
1,2,25-29,3661.0,0.268934,Yes,953.0,0.061964,No,290.0,0.310825,...,0.613700,"some college credit, no degree",2268.0,0.165802,Information Technology,408.0,0.048284,80k - 120k,181.0,0.051508
2,3,30-39,3641.0,0.267465,NaN,NaN,NaN,NaN,NaN,NaN,...,0.310115,master's degree (non-professional),1445.0,0.105636,Electrical Engineering (EEE),384.0,0.045444,40k - 80k,707.0,0.201195

In [2]:
df.dtypes

Number                  int64
Age                    object
AgePpl                float64
AgePerc               float64
BootcampYesNo          object
                       ...
SchoolMajorPpl        float64
SchoolMajorPerc       float64
StudentDebtOwe         object
StudentDebtOwePpl     float64
StudentDebtOwePerc    float64
Length: 145, dtype: object

In [3]:
df.columns[100:140]

Index(['IsUnderEmployed', 'IsUnderEmployedPpl', 'IsUnderEmployedPerc',
       'JobApplyWhen', 'JobApplyWhenPpl', 'JobApplyWhenPerc', 'JobPref',
       'JobPrefPpl', 'JobPrefPerc', 'JobRelocateYesNo', 'JobRelocateYesNoPpl',
       'JobRelocateYesNoPerc', 'JobRoleInterest', 'JobRoleInterestPpl',
       'JobRoleInterestPerc', 'JobWherePref', 'JobWherePrefPpl',
       'JobWherePrefPerc', 'LanguageAtHome', 'LanguageAtHomePpl',
       'LanguageAtHomePerc', 'MaritalStatus', 'MaritalStatusPpl',
       'MaritalStatusPerc', 'MoneyForLearning', 'MoneyForLearningPpl',
       'MoneyForLearningPerc', 'MonthsProgramming', 'MonthsProgrammingPpl',
       'MonthsProgrammingPerc', 'Podcast', 'PodcastPpl', 'PodcastPerc',
       'Resources', 'ResourcesPpl', 'ResourcesPerc', 'SchoolDegree',
       'SchoolDegreePpl', 'SchoolDegreePerc', 'SchoolMajor'],
      dtype='object')

In [11]:
# df.plot(kind='scatter', x='Income', y='MoneyForLearningPpl')

In [17]:
column = ['IsUnderEmployed', 'IsUnderEmployedPpl', 'IsUnderEmployedPerc',
       'JobApplyWhen', 'JobApplyWhenPpl', 'JobApplyWhenPerc', 'JobPref',
       'JobPrefPpl', 'JobPrefPerc', 'JobRelocateYesNo', 'JobRelocateYesNoPpl',
       'JobRelocateYesNoPerc', 'JobRoleInterest', 'JobRoleInterestPpl',
       'JobRoleInterestPerc', 'JobWherePref', 'JobWherePrefPpl',
       'JobWherePrefPerc', 'LanguageAtHome', 'LanguageAtHomePpl',
       'LanguageAtHomePerc', 'MaritalStatus', 'MaritalStatusPpl',
       'MaritalStatusPerc', 'MoneyForLearning', 'MoneyForLearningPpl']




#df.corr()

list

In [19]:
selected_columns = df[column]

type(selected_columns)

pandas.core.frame.DataFrame

In [20]:
selected_columns.head()

,IsUnderEmployed,IsUnderEmployedPpl,IsUnderEmployedPerc,JobApplyWhen,JobApplyWhenPpl,JobApplyWhenPerc,JobPref,JobPrefPpl,JobPrefPerc,JobRelocateYesNo,...,JobWherePrefPpl,JobWherePrefPerc,LanguageAtHome,LanguageAtHomePpl,LanguageAtHomePerc,MaritalStatus,MaritalStatusPpl,MaritalStatusPerc,MoneyForLearning,MoneyForLearningPpl
0,No,4999.0,0.578253,Within the next 6 months,2038.0,0.302060,medium-sized company,3281.0,0.293234,Yes,...,3830.0,0.568334,English,7419.0,0.546238,married or partnership,2915.0,0.726933,0,6587.0
1,Yes,3646.0,0.421747,I haven't decided,1344.0,0.199200,freelance,2261.0,0.202073,No,...,1694.0,0.251373,Spanish,771.0,0.056766,single,1095.0,0.273067,< 1k,5848.0
2,NaN,NaN,NaN,Within 7 to 12 months,1195.0,0.177116,start your own business,2234.0,0.199660,NaN,...,1215.0,0.180294,Russian,547.0,0.040274,NaN,NaN,NaN,1k - 5k,1337.0
3,NaN,NaN,NaN,I'm already applying,1179.0,0.174744,startup,2031.0,0.181518,NaN,...,NaN,NaN,Hindi,453.0,0.033353,NaN,NaN,NaN,5k - 10k,353.0
4,NaN,NaN,NaN,more than 12 months from now,991.0,0.146880,multinational corporation,1382.0,0.123514,NaN,...,NaN,NaN,Portuguese,394.0,0.029009,NaN,NaN,NaN,> 10k,554.0

In [23]:
selected_columns.dtypes
#selected_columns.corr()

IsUnderEmployed          object
IsUnderEmployedPpl      float64
IsUnderEmployedPerc     float64
JobApplyWhen             object
JobApplyWhenPpl         float64
JobApplyWhenPerc        float64
JobPref                  object
JobPrefPpl              float64
JobPrefPerc             float64
JobRelocateYesNo         object
JobRelocateYesNoPpl     float64
JobRelocateYesNoPerc    float64
JobRoleInterest          object
JobRoleInterestPpl      float64
JobRoleInterestPerc     float64
JobWherePref             object
JobWherePrefPpl         float64
JobWherePrefPerc        float64
LanguageAtHome           object
LanguageAtHomePpl       float64
LanguageAtHomePerc      float64
MaritalStatus            object
MaritalStatusPpl        float64
MaritalStatusPerc       float64
MoneyForLearning         object
MoneyForLearningPpl     float64
dtype: object

In [28]:
categorical_cols = selected_columns.select_dtypes(include=['object', 'category']).columns.tolist()
numerical_cols = selected_columns.select_dtypes(include=['float64', 'int64']).columns.tolist()

numerical_cols

['IsUnderEmployedPpl',
 'IsUnderEmployedPerc',
 'JobApplyWhenPpl',
 'JobApplyWhenPerc',
 'JobPrefPpl',
 'JobPrefPerc',
 'JobRelocateYesNoPpl',
 'JobRelocateYesNoPerc',
 'JobRoleInterestPpl',
 'JobRoleInterestPerc',
 'JobWherePrefPpl',
 'JobWherePrefPerc',
 'LanguageAtHomePpl',
 'LanguageAtHomePerc',
 'MaritalStatusPpl',
 'MaritalStatusPerc',
 'MoneyForLearningPpl']

In [33]:
#categorical_cols.corr()

categorical_cols.dtypes

AttributeError: 'list' object has no attribute 'dtypes'